/* ------ CSS RESET ------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    position: relative;
	line-height: 1;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



nav{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: flex-end;
}

ul{
    margin-right: 100px;
}

li{
    display: inline;
    list-style: none;
    margin-right: 15px;
    
}

nav button{
    width : 50px;
    border: none;
    outline: none;
    background : none;
    cursor: pointer;
}

.bottomButtons {
    width : 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-color: blue; */
}

.multi, .rejouer:hover{
    color : white;
    border : 3px solid white;
    height: 55px;
    width: 200px;
    background: none;
    border-radius: 10px;
    margin : 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
 .rejouer, .multi:hover{
    background-color :white;
    border: none;
    color: black;
    height: 55px;
    width: 200px;
    border-radius: 10px;
    margin : 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.game-screen{
    background-color: black;
    width: 100%;
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 80px;
    gap: 100px;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 60px;
    font-weight: bold;
    font-family: sans-serif;
}

.score p {
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 500;
}

.left{
    color: orange;
}
.right{
    color: darkviolet;
}


.wrapper-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
    justify-items: center;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 250px;
    aspect-ratio: 1/1;
    border-radius: 20px;
}

.end-screen{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.end-screen-background{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #BDBDBD;
    opacity: 0.8;
    
}

.end-screen-container{
    position: absolute;
    background-color: black;
    width: 400px;
    aspect-ratio: 1/1;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cell:hover{
    background-color: orange;
}


.x, .o , .x:hover, .o:hover{
    font-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color : white;
}

.x{
    color: orange;
}

.o{
    color: orchid;
}
