/* ------ CSS RESET ------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    position: relative;
	line-height: 1;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    color: var(--white);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media (prefers-color-scheme: dark){
    :root{
        --black: #111;
        --white: #fff;
    }
}

@media (prefers-color-scheme: light){
    :root{
        --black: #fff;
        --white: #111;
    }
}


nav{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: flex-end;
}

ul{
    margin-right: 100px;
}

li{
    display: inline;
    list-style: none;
    margin-right: 15px;
    
}

nav button{
    width : 50px;
    border: none;
    outline: none;
    background : none;
    cursor: pointer;
}

.bottomButtons {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    grid-column: 2;
}

.multi, .rejouer:hover{
    color : var(--white);
    border : 3px solid var(--white);
    background-color: var(--black);
    height: 55px;
    width: 200px;
    background: none;
    border-radius: 10px;
    margin : 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
 .rejouer, .multi:hover{
    background-color :var(--white);
    border: none;
    color: var(--black);
    height: 55px;
    width: 200px;
    border-radius: 10px;
    margin : 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.game-screen{
    background-color: var(--black);
    width: 100%;
    height: 100vh;
}

@media screen and (min-width: 1200px) {
    main{
        padding: 100px;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-auto-rows: min-content;
        align-items: center;
        gap: 30px;
    }
}


@media screen and (max-width: 1200px) {
    main{
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-auto-rows: min-content;
        align-items: center;
        gap: 30px;
    }
    
}

@media screen and (max-width: 900px) {
    main{
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
        align-items: center;
        gap: 20px;
    }
    .wrapper-grid{
        grid-column: span 2;
    }
    .score {
        grid-row: 2;
    }
    .bottomButtons{
        grid-column: span 2;
    }
}

@media screen and (min-width: 650px){
    .wrapper-grid{
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: repeat(3, min-content);
        gap: 20px;
    }
    
    .case{
        background-color: var(--white);
        width: 172px;
        height: 172px;
        border-radius: 20px;
    }
    
}
@media screen and (max-width: 650px){
    .wrapper-grid{
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: repeat(3, min-content);
        gap: 20px;
    }
    
    .case{
        background-color: var(--white);
        width: 140px;
        height: 140px;
        border-radius: 20px;
    }
    
}

@media screen and (max-width: 550px){
    .wrapper-grid{
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: repeat(3, min-content);
        gap: 20px;
    }
    
    .case{
        background-color: var(--white);
        width: 120px;
        height: 120px;
        border-radius: 20px;
    }

    .bottomButtons {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    
}

@media screen and (max-width: 450px){
    .wrapper-grid{
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: repeat(3, min-content);
        gap: 10px;
    }
    
    .case{
        background-color: var(--white);
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }

}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 60px;
    font-weight: bold;
    font-family: sans-serif;
}

.score p {
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 500;
}

.left{
    color: orange;
}
.right{
    color: darkviolet;
}


.end-screen{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.end-screen-background{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #BDBDBD;
    opacity: 0.8;
    
}

.end-screen-container{
    position: absolute;
    background-color: black;
    width: 400px;
    aspect-ratio: 1/1;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
